transformers>=4.52.3
accelerate
gradio
ray[data,train,tune,serve]
bayesian-optimization>=2.0.1
optuna
optuna-dashboard
tensorboard
nltk>=3.9
dask[complete]>=2024.6.2
dask-expr
graphviz>=0.20.3
pydot
boto3>=1.35.11
botocore>=1.35.11
s3fs>=2024
datasets
seqeval[gpu]
rouge_score
evaluate
pandas>=2.2
numpy>=2.2
scipy>=1.13
scikit-learn>=1.4
PyYAML
requests>=2.32
pytest>=8.3.4
coverage>=7.7.1
pylint>=3.3.2
pytest-cov>=6.1.0
flake8>=7.1